<section class="featured-blog mtb-40">
    <div class="container">
        <div class="row">
            <h2 class="title-heading">Latest Articles</h2>
            <div class="col-md-4">
                <div class="blog-box">
                    <img src="assets/images/img1.jpeg" alt="blog1">
                    <h3>How to Learn HTML</h3>
                    <p>by <span>Shis Hossain</span></p>
                    <p>Open an HTML document. Most text editing programs, including Notepad or Notepad++ for Windows,
                        TextEdit for Mac, and gedit for GNU/Linux can be used to write HTML documents.</p>
                    <a href="#" class="btn btn-primary">Read more...</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-box">
                    <img src="assets/images/img2.jpg" alt="blog1">
                    <h3>How to learn CSS</h3>
                    <p>by <span>Shis Hossain</span></p>
                    <p>If you don’t have a deeper understanding of the basics, CSS becomes more like a trial and error
                        method. You’ll try different values for different properties and finally keep the one which
                        sort...</p>
                    <a href="#" class="btn btn-primary">Read more...</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-box">
                    <img src="assets/images/img3.jpeg" alt="post1">
                    <h3>How to learn JavaScript t</h3>
                    <p>by <span>Shis Hossain</span></p>
                    <p>The best way to learn JavaScript from scratch will depend on your preferred learning style. Some
                        like online courses, others prefer books, and some.
                        How Long Does It Take To Learn JavaScript?
                        This depends on your skill level ..</p>
                    <a href="detail.html" class="btn btn-primary">Read more...</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-box">
                    <img src="assets/images/img4.jpg" alt="post2">
                    <h3>How to learn angular</h3>
                    <p>by <span>Shis Hossain</span></p>
                    <p>Angular is a platform for building mobile and desktop web applications. Join the community of millions of developers who build compelling user interfaces with Angular. The...</p>
                    <a href="detail.html" class="btn btn-primary">Read more...</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-box">
                    <img src="assets/images/img5.jpeg" alt="post3">
                    <h3>what is MEAN stack?</h3>
                    <p>by <span>Shis Hossain</span></p>
                    <p>The MEAN stack is a JavaScript-based framework for developing web applications. MEAN is named after M ongoDB, E xpress, A ngular, and N ode, the four key technologies that make up the..</p>
                    <a href="detail.html" class="btn btn-primary">Read more...</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-box">
                    <img src="assets/images/img6.jpeg" alt="post4">
                    <h3>What is MERN Stack?</h3>
                    <p>by <span>Shis Hossain</span></p>
                    <p> MERN is one of several variations of the MEAN stack (MongoDB Express Angular Node), where the traditional Angular.js front-end framework is replaced with React.js....</p>
                    <a href="detail.html" class="btn btn-primary">Read more...</a>
                </div>
            </div>
        </div>
    </div>
</section>